body{
    background-color: aliceblue
}


.Home{
    position: absolute;
    left: 5em;
   top: 11em;
   transition: top 0.2s;
   display: inline-block;
  transition: opacity 0.5s;
   }

.titleH{
    position: absolute;
    bottom: 2.2em;
    font-size:18px;
    margin-left: 7em;
    width: 5.1em;
    color: whitesmoke
   }
   

   .ShipA {
    position: absolute;
 
    top: 16.6em; /* Ajusta el valor según la posición inicial deseada */
    left: 6em; /* Ajusta el valor según la posición inicial deseada */
  }
  
  .DateAboutMe{
    position: absolute;
    margin-left: 41em;
    margin-top: 40em;
  }

  .DateAboutMe p {
    
        font-weight: 800;
        line-height: 0.6;
        color: aliceblue;
        font-size: 16px;
  }

  .fade-in {
    opacity: 0;
    animation: fade-in-animation 1s forwards;
  }
  
  @keyframes fade-in-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }