body{
  font-family: 'BankGothic Md BT', sans-serif;
}
*{
  text-decoration: none;
}

.Name {
  position: relative;
  
  
  font-size: 14vw;
  color: whitesmoke;
width: 7.3em;
margin: 0;
  padding: 0;
}

.subtitle {
  position: relative;
  font-size: 8vw;
  color: rgb(223, 223, 223);
  margin: 0;
  padding: 0;
}


.Projects{
  position: relative;
 }

 .titleP{
  font-size: 23px;
  position: relative;
  top: -9.5em;
  color:black;
  margin: 0 8.2em auto;
padding: 0;
 }



 .AboutMe{
  position: relative;
  left: 4%;

 }
 
 .titleA{
  position: relative;
  bottom: 6.2em;
  font-size:14px;
  margin-left: 1.9em;
  width: 5.1em;
  color: whitesmoke;
  
 }

 .Contact{
  position: relative;
  left: 6.5%;
  top: -2em;
  width: 5%;
  
 }

 .titleC{
  position: relative;
  bottom: 4.6em;
  font-size:14px;
  margin-left: 1.1em;
  width: 5.1em;
  color: whitesmoke;
 }


 .Skills{
  position: relative;
  left: 2.5%;
  top: -2.5em;
 }
 
 .titleS{
  position: relative;
  bottom: 6em;
  font-size:11px;
  margin-left: 2.5em;
  width: 5.1em;
  color: whitesmoke
 }
 

 .Projects img{
 width: auto;
 height: auto;
}


  .AboutMe img{
    width: auto;
    height: auto;
    }
  

  .Contact img{
    width: auto;
 height: auto;
  }
  

  .Skills img{
    width: auto;
 height: auto;
  }

 .DateHome{
  position: relative;
 top: 52em;
 margin-left: 2.8em;

 }
 
 .DateHome p{
 font-weight: 800;
 line-height: 0.6;
 color: aliceblue;
 height: 1em;
 }

 
.Ship {
  position: relative;
  transition: transform 0.5s;
  top: 1em; /* Ajusta el valor según la posición inicial deseada */
  left: 1em; /* Ajusta el valor según la posición inicial deseada */
}

section{
  height: 0;
}


.hidden {
  display: none;
}


.fade-in {
  opacity: 0;
  animation: fade-in-animation 1s forwards;
 
}
.center-elements{
  display: grid;
  place-items: center;
}


@keyframes fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html
{overflow: hidden;
  
}



 @media screen and (max-width: 1023px) and (min-width: 768px) {
 .Name{
  font-size: 8vw;
  width: 12.5em;
 }
 .subtitle{
  font-size: 5vw;
 }
  
  .Ship{
    position: relative;
   margin-top: 2.5em;
   margin-left: 3em;
  }
  .AboutMe{
    position: relative;
    margin-top: 0.8em;
    left: 8%;
  }
  .Contact{
    position: relative
    ;
    margin-top: 2.2em;
  }
  .Projects{
    position: relative;
   left: 60%;
   top:-30em ;
   }
  
   .titleP{
  width: 0;
  height: 0;
   }
  
   .Projects.fade-in{
    width: 0;
    height: 0;
  }
  
  

   
   .titleA{
    position: relative;
    bottom: 6.2em;
    font-size:14px;
    margin-left: 1.9em;
    width: 5.1em;
    color: whitesmoke
   }
  
   .Contact{
    position: relative;
    left: 9%;
    top: -3em;
    width: 5%;
   }
  
   .titleC{
    position: relative;
    bottom: 4.6em;
    font-size:14px;
    margin-left: 1.1em;
    width: 5.1em;
    color: whitesmoke
   }
  
  
   .Skills{
    position: relative;
    left: 7.6%;
    margin-top: 2.5em
   }
   
   .titleS{
    position: relative;
    bottom: 6em;
    font-size:10px;
    margin-left: 3.2em;
    width: 5.1em;
    color: whitesmoke
   }
   
  
   .DateHome{
    position: relative;
   margin-left: 26em;
  top: 35em;
   }
   
   .DateHome p{
   font-weight: 800;
   line-height: 0.6;
   color: aliceblue;
   height: 1em;
   font-size: 24px;
   }
  


}


@media screen and (min-width: 1024px) and (max-width:1439px) {
  
  .Name {
    position: relative;
    top: 0.5em;
   margin-left: 0em;
    font-size: 8vw;
    width: 12.5em;
  }
  
  .subtitle {
    position: relative;
    top: 1em;
  
    font-size: 4.5vw;
  
  }
  .Ship{
    position: relative;
   margin-top: 5em;
   margin-left: 4em;
  }
  .Projects{
    position: relative;
   left: 60%;
   top:-30em ;
   }
  
   .titleP{
  width: 0;
  height: 0;
   }
  
   .Projects.fade-in{
    width: 0;
    height: 0;
  }
  
  
   .AboutMe{
    position: relative;
    left: 8%;
    top: -0.2em;
   }
   
   .titleA{
    position: relative;
    bottom: 6.2em;
    font-size:14px;
    margin-left: 1.9em;
    width: 5.1em;
    color: whitesmoke
   }
  
   .Contact{
    position: relative;
    left: 9%;
    top: -3em;
    width: 5%;
   }
  
   .titleC{
    position: relative;
    bottom: 4.6em;
    font-size:14px;
    margin-left: 1.1em;
    width: 5.1em;
    color: whitesmoke
   }
  
  
   .Skills{
    position: relative;
    left: 7.5%;
    top: -4.5em;
   }
   
   .titleS{
    position: relative;
    bottom: 6em;
    font-size:10px;
    margin-left: 3.2em;
    width: 5.1em;
    color: whitesmoke
   }
   
  
   .DateHome{
    position: relative;
   margin-left: 38em;
  top: 34em;
   }
   
   .DateHome p{
   font-weight: 800;
   line-height: 0.6;
   color: aliceblue;
   height: 1em;
   font-size: 24px;
   }
  
}


@media screen and (min-width: 1440px){
  .Name {
    position: relative;
    top: 1.5em;
    left: 1.4em;
    font-size: 5.5vw;
    color: whitesmoke;
    width: 12.5em;
  }
  
  .subtitle {
    position: relative;
    top: 0em;
    margin-left: 2.6em;
    font-size: 3vw;
    margin-top: 2.5em;
    color: rgb(223, 223, 223)
  }
  
  
  .Projects{
   position: relative;
  left: 60%;
  top: -30em;
  }
  
  

  .AboutMe{
   position: relative;
   left: 7%;
   top: 4em;
   width: 5%;
   
  }
  
  
  .Contact{
   position: relative;
   left: 7.5%;
   top: 1.6em;
   width: 5%;
  }
  
  .Skills{
   position: relative;
   left: 6.7%;
   top: 1em;
  
  }
  
  
  

  
  .DateHome{
   position: relative;
  margin-left: 48em;
  top: 24em;
  }
  
  .DateHome p{
  font-weight: 800;
  line-height: 0.6;
  color: aliceblue;
  font-size: 28px;
  }
  
  
  
  .Ship {
    position: relative;
    transition: transform 0.5s;
    top: 5em;  
    left: 6em; 
  }
  
  
  
  .hidden {
    display: none;
  }
  
  
  .fade-in {
    opacity: 0;
    animation: fade-in-animation 1s forwards;
  }
  
  @keyframes fade-in-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .Projects.fade-in{
    width: 0;
    height: 0;
  }
  section{
    height: 0;
  }
  
}



@media screen and (min-width: 1920px){
  .Name {
    position: relative;
    top: 2.3em;
    left: 2.4em;
    font-size: 3vw;
    color: whitesmoke
  }
  
  .subtitle {
    position: relative;
    top: 2em;
    margin-left: 5.2em;
    font-size: 1.4vw;
    margin-top: 2.5em;
    color: rgb(223, 223, 223)
  }
  
  
  .Projects{
   position: relative;
  left: 70%;
 top: -33.9em;
  }
.Projects img{
  
}

  .AboutMe{
   position: relative;
   left: 7%;
   top: 4em;
   width: 5%;
   
  }
  
  .AboutMe img{
   
    }
  
     
  .Contact{
   position: relative;
   left: 7.5%;
   top: 1.6em;
   width: 5%;
  }
  .Contact img{
    
  }
  
  .Skills{
   position: relative;
   left: 6.8%;
   top: 1em;
  
  }
  .Skills img{
    
  }

  
  .DateHome{
   position: relative;
  margin-left: 96em;
  top: 20em;
  }
  
  .DateHome p{
  font-weight: 800;
  line-height: 0.6;
  color: aliceblue;
  font-size: 18px;
  }
  
  
  
  .Ship {
    position: relative;
    transition: transform 0.5s;
    top: 5em;  
    left: 9em; 
  }
  
  
  
  .hidden {
    display: none;
  }
  
  
  .fade-in {
    opacity: 0;
    animation: fade-in-animation 1s forwards;
  }
  
  @keyframes fade-in-animation {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .Projects.fade-in{
    width: 0;
    height: 0;
  }
  section{
    height: 0;
  }
  



}
















@media screen and (max-width: 1680px) and (max-height: 1050px){
  .Name{
    font-size: 3.5vw;
    
  }
  .subtitle{
    font-size: 2vw;
    
  }
  .Projects{
    top: -38em;
    margin-left: 4em;
  }
  .Projects img{
    width: auto;
    height: auto;
  }
  .DateHome{
    left: 31em;
    top: 20em;
  }
  .DateHome p{
    font-size: 1vw;
  }
}






@media (max-height: 1050px) and (max-width: 375px) {
  .Name{
    font-size: 14.8vw;
  }
  .subtitle{
    font-size: 10vw;
  }
  .Projects{
    top:1em;
    margin-left: 0.1em;
  }
.DateHome{
  position: relative;
  top: 52em;
  left: -1em;
 width: 20em;
}
.DateHome p{
  font-size: 6vw;
}
}