.HomeP img{
  width: 10em;
  height: auto;
}
.titleH{
  position: relative;
 font-size: 3vw;
 
}
.AboutMeP{
  position: relative;
margin-left: 0.8em;
bottom: 5.6em;
}
.ContactP{
  position: relative;
  margin-left: 1.3em;
  bottom: 7.6em;
}
.SkillsP{
  position: relative;
  margin-left: 0.5em;
  bottom: 8.1em;
  
}
.ship-containerP{
  display: grid;
  place-items: center;
  
}
.ShipP{
  position:absolute;
  top:40em;
  
}
.ShipP img{
  width: 12em;
}

.image-list2 {
  list-style: none;
  
  display: grid;
  place-items: center;
  height: 20vh; 
  position:relative;
  top: 5em;
}

.image-list-items img{
   width: 10em;
  border-radius: 10px;
}

.image-list2 h1{
   font-weight: 800;
line-height: 0.6;
color: aliceblue; 
}
.Hc{
  position: relative;
 top: 40em;
}

.Mel{
  position: relative;
  
  top: 40em;
}

.M{
  position: relative;
 top: 40em;

}
.M img{
  width: 9em;
}

.C{
 position: relative;
 top: 40.5em;

}

@media screen and (max-width: 1023px) and (min-width: 768px){
  .Name{
  font-size: 8vw;
  width: 12.5em;
 }
 .subtitle{
  font-size: 5vw;
 }
 .image-list2 {
  list-style: none;
  
  display: grid;
  place-items: center;
  height: 20vh; 
  position:relative;
  top: 4em;
}

.image-list-items img{
  width: 20em;
 border-radius: 10px;
}
.HomeP{
  position: relative;
 
}
.nav-list
{
 position: absolute;
 bottom:85em;
 margin-left: 2em;
}
.Hc{
  position: relative;
 top: 40em;
}

.Mel{
  position: relative;
 
  top: 12.4em;
}
.Hc, .M{
  margin-right: 26em;
}
.Mel, .C{
  margin-left: 22em;
}
.M{
  position: relative;
 top: 40em;
 margin-left: em;
}
.M img{
  width: 20em;
  height: 10.2em;
}

.C{
 position: relative;
  margin-left: em;
 top: 12.3em;
}
.C img{height: 10.2em;}

.image-list2 h1{
  font-weight: 800;
line-height: 0.6;
color: aliceblue; 
}
 
  .ShipP{
    position: relative;
   
    top: 8em;
   margin-left: 32.5em;
  }
  .Projects{
    position: relative;
   left: 60%;
   top:-30em ;
   }
  
   .titleP{
  width: 0;
  height: 0;
   }
  
   .Projects.fade-in{
    width: 0;
    height: 0;
  }
  
  
  
}

@media screen and (min-width: 1024px) and (max-width:1439px){
  .Name{
    font-size: 8vw;
    width: 12.5em;
   }
   .subtitle{
    font-size: 5vw;
   }
   .image-list2 {
    list-style: none;
    
    display: grid;
    place-items: center;
    height: 20vh; 
    position:relative;
    top: 4em;
  }
  
  .image-list-items img{
    width: 30em;
   border-radius: 10px;
  }
  .HomeP{
    position: relative;
    top: 5em;
  }
  .Hc{
    position: relative;
   top: 40em;
  }
  
  .Mel{
    position: relative;
    margin-left: em;
    top: -1.6em
  }
  .Hc, .M{
    margin-right: 34em;
  }
  .Mel, .C{
    margin-left: 30em;
  }
  .M{
    position: relative;
   top: 40em;
   margin-left: em;
  }
  .M img{
    width: 30em;
    height: 14.2em;
  }
  
  .C{
   position: relative;
    margin-left: em;
   top: -1.8em;
  }
  .C img{height: 14.2em;}
  
  .image-list2 h1{
    font-weight: 800;
  line-height: 0.6;
  color: aliceblue; 
  font-size: 3vw;
  }
    .nav-list{
      position: relative;
      bottom: 80em;
      margin-left: 3em;
    }
    .ShipP{
      position: relative;
      bottom: 65em;
     margin-left: 32.5em;
    }
  
}

@media screen and (min-width: 1440px){
 
  
   .image-list2 {
    list-style: none;
    
    display: grid;
    place-items: center;
    height: 20vh; 
    position:relative;
    top: 4em;
  }
  
  .image-list-items img{
    width: 30em;
   border-radius: 10px;
  }
  .HomeP{
    position: relative;
    top: 5em;
  }
  .Hc{
    position: relative;
   top: 40em;
  }
  
  .Mel{
    position: relative;
    margin-left: em;
    top: -1.6em
  }
  .Hc, .M{
    margin-right: 34em;
  }
  .Mel, .C{
    margin-left: 30em;
  }
  .M{
    position: relative;
   top: 40em;
   margin-left: em;
  }
  .M img{
    width: 30em;
    height: 14.2em;
  }
  
  .C{
   position: relative;
    margin-left: em;
   top: -1.8em;
  }
  .C img{height: 14.2em;}
  
  .image-list2 h1{
    font-weight: 800;
  line-height: 0.6;
  color: aliceblue; 
  font-size: 3vw;
  }
    .nav-list{
      position: relative;
      bottom: 80em;
      margin-left: 3em;
    }
    .ShipP{
      position: relative;
      bottom: 65em;
     margin-left: 32.5em;
    }
}

@media screen and (min-width: 1920px){
 
  
   .image-list2 {
    list-style: none;
    
    display: grid;
    place-items: center;
    height: 20vh; 
    position:relative;
    top: 4em;
  }
  
  .image-list-items img{
    width: 30em;
   border-radius: 10px;
  }
  .HomeP{
   
    
  }
  .Hc{
    position: relative;
   top: 40em;
  }
  
  .Mel{
    position: relative;
    margin-left: em;
    top: -1.6em
  }
  .Hc, .M{
    margin-right: 34em;
  }
  .Mel, .C{
    margin-left: 30em;
  }
  .M{
    position: relative;
   top: 40em;
   margin-left: em;
  }
  .M img{
    width: 30em;
    height: 14.2em;
  }
  
  .C{
   position: relative;
    margin-left: em;
   top: -1.8em;
  }
  .C img{height: 14.2em;}
  
  .image-list2 h1{
    font-weight: 800;
  line-height: 0.6;
  color: aliceblue; 
  font-size: 3vw;
  }
    .nav-list{
      position: relative;
      bottom: 80em;
      margin-left: 8em;
    }
    .ShipP{
      position: relative;
      bottom: 70em;
     margin-left: 30.5em;
    }
}