@media screen and (min-width: 1920px)
{

.image-list {
    display: flex;
    justify-content: center;
    margin-top: 45em;
    opacity: 0;
  transition: opacity 1s;
  }
  
  .image-list.loaded {
    opacity: 1;
  }
  .iconH {
    width: 15em;
    height: 6em;
  }


  .iconN {
    width: 12em;
    height: 8em;
  }

  .iconG{
    width: 10em;
    height: 4em;
    margin-top: 1.5em;
    
    margin-right: 2em;
  }
  .iconGH{
    width: 5em;
    height: 4em;
    
    margin-left: 1.5em;
    margin-top: 1.5em;
  }

  .iconM{
    width: 6em;
    height: 4em;
    margin-left: 1.5em;
    margin-top: 1.5em;
  }
  .iconR{
    width: 6em;
    height: 5em;
    margin-left: 1.5em;
    margin-top: 0.8em;
  }

 

  .iconH, .iconN, .iconG, .iconGH, .iconM, .iconR:last-child{
    margin-right: 0;
  }

  .download-link {
    /* Agrega los estilos que desees */
    color: aliceblue;
    text-decoration: none; /* Elimina la decoración de subrayado */
    font-weight: bold; /* Establece el peso de la fuente en negrita */
    position: absolute;
    margin-left: 56em;

  }
  
  .download-link:hover {
    /* Estilos para cuando el enlace se encuentra en estado de "hover" (puntero encima) */
    text-decoration: underline; /* Agrega un subrayado cuando el puntero está encima del enlace */
  }

  .pdf{
    position: absolute;
    width: 50px;
    margin-left: -5.6em;
    margin-top: 1.5em;
  }

  .download{
    opacity: 0;
  transition: opacity 1s;
  }

  .download.loaded {
    opacity: 1;
  }


  .ShipS{
    position: absolute;
    top: 30em;
    margin-left: 6em;
  }

}